- @reviews.each do|review|
  - if review.image.url
    .card{:style => "width:300px"}
      = image_tag review.image.url, height: "200px" ,width: "350px", alt: 'ライブ画像', class: 'card-img-top'
      .card-body
        -# = image_tag @avatar,  height: "200px" ,width: "350px"
        = link_to review.user.nickname,"/users/#{review.user_id}"
        %span さんの投稿
        %h3
          開催日時
          %br/
        %p
          = review.event_date.strftime("%Y/%m/%d %H:%M")
        %h3.card-text
          アーティスト名
          %br/
        %p
          = review.artist
        %h3
          会場
          %br/
        %p
          = review.venue
        %h3
          レビュー
          %br/
        .card-text
          = simple_format(review.text)
        .menu
          = render partial: "likes/like",locals: { review: review}
          = link_to "詳細","/reviews/#{review.id}", method: :get
          -if user_signed_in? && review.user_id == current_user.id
            = link_to "削除","/reviews/#{review.id}", method: :delete
  - else
    .card{:style => "width:300px"}
      .card-body
        %h3
          開催日時
          %br/
        %p
          = review.event_date.strftime("%Y-%m-%d %H:%M")
        %h3.card-text
          アーティスト名
          %br/
        %p
          = review.artist
        %h3
          会場
          %br/
        %p
          = review.venue
        %h3
          レビュー
          %br/
        .card-text
          = simple_format(review.text) 
        .menu
          = render partial: "likes/like",locals: { review: review}
          = link_to "詳細","/reviews/#{review.id}", method: :get
          -if user_signed_in? && review.user_id == current_user.id
            = link_to "削除","/reviews/#{review.id}", method: :delete
          

