.devise-container
  %h3 ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, "メールアドレス"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label :password,"パスワード"
      %br/
      = f.password_field :password, autocomplete: "current-password"
   
    .actions
      = f.submit "ログイン"

